<!DOCTYPE html>
<html lang="en" xlms:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherIT</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
<h1 id="title" style="background-color: rgb(84, 160, 160);">Table</h1>
	<form action="#" th:action="@{/forecast}">
	<button type="submit">To Forecast</button>
	<div class="container">
		
		<table>
			<thead>

				<tr>
					<th>Id</th>
					<th>Location</th>		
				</tr>
			</thead>
			<tbody>
				<tr th:each="theLocation:${locations}">
					<td th:text="${theLocation.id}"></td>
					<td th:text="${theLocation.locationName}"></td>
				</tr>
				<tr>
				<td>1</td>
				<td>Cincinnati</td>
				</tr>
				<tr>
				<td>2</td>
				<td>Columbus</td>
				</tr>
			</tbody>

		</table>
	</div>

</body>

</html>